{{ 'bnpr_review-section-ratings.css' | asset_url | stylesheet_tag }}

<div class="bnpr-review-section-ratings-container">
  <div class="bnpr-review-section-ratings-inner-container">
    {% for index in (1..5) reversed %}
    <div>
      <div class="bnpr-star-with-num">
        <div>{{ index }}</div>
        <div>
          <svg class="bnpr-star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <polygon fill="{{ app.metafields.bnpr_form.star_color }}" stroke="{{ app.metafields.bnpr_form.star_color }}" stroke-width="2"
              points="12 2 15 9 22 9 17 14 18.5 21 12 17 5.5 21 7 14 2 9 9 9 12 2" />
          </svg>
        </div>
      </div>
      <div class="bnpr-bar">
        <div class="bnpr-inner-bar" id="bnpr-inner-bar-{{ index }}"></div>
      </div>
      <div class="bnpr-val-count" id="bnpr-val-count-{{ index }}"> 0 </div>
    </div>
    {% endfor %}
  </div>
</div>