{{ 'bnpr_review-section-sliders.css' | asset_url | stylesheet_tag }}

<div class="bnpr-review-section-sliders-container">
  <h2>100% people will recommend this</h2>

  <div id="bnpr-review-section-slider-quality">
    <h3>Quality</h3>
    <div class="bnpr-bar">
      <div class="bnpr-inner-bar">
        <div class="bnpr-slider"></div>
      </div>
      <div class="bnpr-label bnpr-start-label">{{ block.settings['slider-quality-start'] }}</div>
      <div class="bnpr-label bnpr-end-label">{{ block.settings['slider-quality-end'] }}</div>
    </div>
  </div>

  <div id="bnpr-review-section-slider-sizing">
    <h3>Sizing</h3>
    <div class="bnpr-bar">
      <div class="bnpr-inner-bar">
        <div class="bnpr-slider"></div>
      </div>
      <div class="bnpr-label bnpr-start-label">{{ block.settings['slider-sizing-start-value'] }}</div>
      <div class="bnpr-label bnpr-mid-label">{{ block.settings['slider-sizing-mid-value'] }}</div>
      <div class="bnpr-label bnpr-end-label">{{ block.settings['slider-sizing-end-value'] }}</div>
    </div>
  </div>
</div>