{{ 'review-section-ratings.css' | asset_url | stylesheet_tag }}

<div class="review-section-ratings-container">
  {% for index in (1..5) reversed %}
  <div>
    <div class="star-with-num ">
      <div>{{ index }}</div>
      <div>
        <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
          <polygon fill="#FFD700" stroke="#FFD700" stroke-width="2"
            points="12 2 15 9 22 9 17 14 18.5 21 12 17 5.5 21 7 14 2 9 9 9 12 2" />
        </svg>
      </div>
    </div>
    <div class="bar">
      <div class="inner-bar" id="inner-bar-{{ index }}"></div>
    </div>
    <div class="val-count" id="val-count-{{ index }}"> 0 </div>
  </div>
  {% endfor %}
</div>

<script>
  const displaySummaryRatings = ({ summary, ratings }) => {
    document.querySelectorAll('.review-section-ratings-container .star polygon').forEach((item) => {
      item.style.fill = '{{ starColor }}';
      item.style.stroke = '{{ starColor }}';
    });

    ratings.forEach((item) => {
      const index = item?.starRating;
      const div = document.querySelector(`.review-section-ratings-container .bar #inner-bar-${index}`);
      div.style.width = `${(item?._count?.id / summary?._count?.id) * 100}%`;

      document.querySelector(`.review-section-ratings-container #val-count-${index}`).innerHTML = item?._count?.id;
    });
  };
</script>