{{ 'review-section-sliders.css' | asset_url | stylesheet_tag }}

<div class="review-section-sliders-container">
  <h2>100% people will recommend this</h2>

  <div id="review-section-slider-quality">
    <h3>{{ block.settings['slider-qualilty-title'] }}</h3>
    <div class="bar">
      <div class="inner-bar">
        <div class="slider"></div>
      </div>
      <div class="label start-label">{{ block.settings['slider-quality-start'] }}</div>
      <div class="label end-label">{{ block.settings['slider-quality-end'] }}</div>
    </div>
  </div>

  <div id="review-section-slider-sizing">
    <h3>{{ block.settings['slider-sizing-title'] }}</h3>
    <div class="bar">
      <div class="inner-bar">
        <div class="slider"></div>
      </div>
      <div class="label start-label">{{ block.settings['slider-sizing-start-value'] }}</div>
      <div class="label mid-label">{{ block.settings['slider-sizing-mid-value'] }}</div>
      <div class="label end-label">{{ block.settings['slider-sizing-end-value'] }}</div>
    </div>
  </div>
</div>

<script>
  const displaySliders = ({sliders}) => {
    document.getElementById("review-section-slider-quality").querySelector(".inner-bar").style.width = `${sliders.quality * 100}%`
    document.getElementById("review-section-slider-sizing").querySelector(".inner-bar").style.width = `${sliders.sizing * 100}%`
  }
</script>